* {
    margin: 0;
    padding: 0;
}

#wrap {
    width: 100%;
}

.container {
    display: flex;
    width: 1200px;
    height: inherit;
    margin: 0 auto;
}

#header {
    width: 100%;
    height: 100px;
    background-color: #efefef;
}

#header .logo {
    width: 20%;
    height: 100px;
    background-color: red;
}

#header .nav {
    width: 80%;
    height: 100px;
    background-color: blue;
}

#slider {
    width: 100%;
    height: 300px;
}

#slider .container {
    background-color: #d9d9d9;
}

#contents {
    width: 100%;
}

#contents .content1 {
    width: 33.3333%;
    height: 200px;
    background-color: #bcbcbc;
}

#contents .content2 {
    width: 33.3333%;
    height: 200px;
    background-color: #b1b1b1;
}

#contents .content3 {
    width: 33.3333%;
    height: 200px;
    background-color: #a3a3a3;
}

#footer {
    width: 100%;
    height: 100px;
    background-color: black;
}

#footer .footer1 {
    width: 20%;
    height: 100px;
    background-color: red;
}

#footer .footer2 {
    width: 60%;
    height: 100px;
    background-color: blue;
}

#footer .footer3 {
    width: 20%;
    height: 100px;
    background-color: green;
}