* {
    margin: 0;
    padding: 0;
}

#wrap {
    width: 1200px;
    margin: 0 auto;
}

#header {
    display: flex;
    width: 100%;
}

#header .logo {
    width: 20%;
    height: 100px;
    background-color: #d9d9d9;
}

#header .nav {
    width: 80%;
    height: 100px;
    background-color: #d1d1d1;
}

#slider {
    width: 100%;
    height: 300px;
    background-color: #efefef;
}

#contents {
    display: flex;
    width: 100%;
}

#contents .content1 {
    width: 33.3333%;
    height: 200px;
    background-color: #c1c1c1;
}

#contents .content2 {
    width: 33.3333%;
    height: 200px;
    background-color: #d1d1d1;
}

#contents .content3 {
    width: 33.3333%;
    height: 200px;
    background-color: #d9d9d9;
}

#footer {
    display: flex;
    width: 100%;
}

#footer .footer1 {
    width: 20%;
    height: 100px;
    background-color: #aaa;
}

#footer .footer2 {
    width: 80%;
    height: 100px;
}

#footer .footer2 .footer2-1 {
    width: 100%;
    height: 50px;
    background-color: #bbb;
}

#footer .footer2 .footer2-2 {
    width: 100%;
    height: 50px;
    background-color: #ccc;
}